.rightbar{
    flex: 3.5;
  
}
.birthdayContainer{
    display: flex;
    align-items: center;
   
}
.birthdayText{
    margin-left: 5px;
}
b:hover{
    border-bottom: 1px solid black;
    cursor: pointer;
}

.rightbarWrapper{
    padding: 20px 20px 0 0;
}
.sponsorText{
    margin: 20px 5px;
}
.sponsorImg{
    width: 100%;
    border-radius: 10px;
}

.rightbarFriendList{
    list-style: none;
    

    padding: 0;
    
}
.rightbarTitle{
    margin: 20px 0;
}
.rightbarTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}
.rightbarFollowingImg{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 10px;
}
.rightbarfollowing{
    display: flex;
    flex-direction: column;
    cursor: pointer;
  
}
.rightbarFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
   
}
.rightbarFollowingName{
    margin-top: 5px;
}
.rightbarInfo{
    margin-bottom: 30px;

}
.rightbarInfoItem{
    margin-bottom: 10px;
}